.cartButton {
    border: 1px solid black;
    border-radius: 50px;
    padding: 10px 20px;
}
.cartButton:hover {
    background-color: grey;
    cursor: pointer;
  
}

@media (max-width: 980px) {
    .cartButton {
        border-radius: 10px;
        border: none;
        padding:8px 12px 8px 12px;
        margin-top: 12px;
    }
}